.choice {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 20%;
  margin-right: 20%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .choice {
    margin: 0;
  }
}

.green {
  border: 1px solid green;
}

.red {
  border: 1px solid red;
  text-decoration: line-through;
}
