.choice {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 30%;
  margin-right: 30%;
}

.green {
  border: 1px solid green;
}

.red {
  border: 1px solid red;
  text-decoration: line-through;
}
